.monetization {
    &-title {
        background: #290f6c;
        color: $color-white;
    }
    &-textfeild {
        border: 1px solid #37256d;
        border-radius: 0;
    }
    & .d-flex input {
        border: 1px solid #37256d !important;
        border-radius: 0;
    }
    & .horizontal-line {
        background: #37256d;
        //#dee2e661
        width: 100%;
        height: 1px;
    }
    &__text {
        margin-left: 2rem;
    }
    &-bg-light {
        background: #291447;
    }
    &-coming {
        color: #beb7c2;
    }
    &-subscription {
        &__vertical--line {
            width: 1px;
            min-height: 18rem;
            background: #402c69;
        }
        &__card {
            cursor: pointer;
            & p {
                color: #9389ab;
            }
        }
    }
}
