.signup-form-top__img {
    border: 1px solid $color-white;
    background: white;
}

.form-icon {
    position: relative;
    & > div {
        position: relative;
    }

    & > label {
        position: absolute;
        cursor: pointer;
        top: 0;
        right: 8px;
        z-index: 10;
        background: #0a0135;
        border-radius: 50%;
        & > img {
            padding: 5px;
        }
    }
}
