.chip-input {
    border: 1px solid !important;
    & .WAMuiChipInput-outlined-20.WAMuiChipInput-chipContainer-19 {
        border: 1px solid;
        &:focus {
            outline: none !important;
        }
    }
    & .WAMuiChipInput-chipContainer-4 {
        border: 1px solid !important;
        border-radius: 0px;
        &:focus {
            outline: none !important;
        }
    }

    & input {
        border: none !important;
        &:focus {
            outline: none !important;
        }
        color: $color-black-light;
    }
    & .MuiChip-root {
        background: $color-primary-light !important;
        color: $color-white;
        & .MuiSvgIcon-root {
            color: $color-white;
        }
    }
    & .PrivateNotchedOutline-root-57 {
        border-style: none !important;
    }
}
.WAMuiChipInput-inputRoot-2 .WAMuiChipInput-outlined-5 {
    padding-top: 5px !important;
}
