.header-searchbar {
    @include responsive(tab-port) {
    }
    padding-left: 4rem;
    @include responsive(phone) {
        padding-left: 0px;
        display: none !important;
    }
    &-left {
        &__sugg {
            background: '#fff' !important;
            color: #000;
            max-height: 300px;
            overflow-y: scroll;
            max-width: 35rem !important;
            position: fixed;
            overflow-x: hidden;
            z-index: 1000;
            & p {
                padding: 5px 0px;
                width: 50rem !important;
                &:hover {
                    background: #eee;
                    font-size: 14.5px;
                }
            }
            @include responsive(big-desktop) {
                max-width: 90rem !important;
            }
            @media (max-width: 768px) {
                max-width: 20rem !important;
            }
        }

        @include responsive(phone) {
            margin-left: 1rem;
            &__input {
                width: 10rem !important;
                max-width: 10rem !important;
                margin-top: 0px !important;
            }
            &__search {
                margin-top: 10px !important;
            }
            &__sugg {
                max-width: 18rem;
            }
        }
        @include responsive(tab-port) {
            &__input {
                width: 25rem;
            }
        }
        &__search {
            margin-top: 12px;
            margin-left: 9px;
            position: absolute;
        }
        &__sugg {
            max-width: 30rem;
        }
    }
    &-right {
        &__popup {
            z-index: 100;
            & .MuiPaper-root {
                background-color: #301a64 !important;
                color: #756c9f !important;
            }
        }
        &__btn {
            // margin-top: 0.65rem;
            font-size: 0.9rem;
            background: #8cde0d;
            color: #756c9f;
            height: 38px !important;
        }
        &__btn1 {
            border-right: 1px solid #756c9f;
            // margin-top: 0.65rem;
            font-size: 1rem;
            height: 38px !important;
            line-height: 14px;
            border-radius: 0px !important;
            // background: #48259c;
            background: #07011d;
            color: #756c9f;
        }
        @include responsive(phone) {
            &__btn {
                margin-top: 0.4rem !important;
            }
        }
    }
}
.header-search-bar {
    width: 35rem;
    @include responsive(tab-port) {
        width: 20rem !important;
    }
    @include responsive(phone) {
        width: 8rem !important;
    }
}
@media (min-width: 1600px) {
    .header-search-bar {
        width: 50rem;
    }
}
@media (min-width: 1025px) and (max-width: 1145px) {
    .header-search-bar {
        width: 30rem;
    }
}
