.img-upload-card {
    width: 15rem;
    height: 15rem;
    position: relative;
    &__img {
        position: relative;
        object-fit: scale-down;
    }
    &__footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba($color: #000000, $alpha: 0.6);
    }
}
