.related-video {
    position: relative;
    &__img {
        display: block;
        position: relative;
        object-fit: cover;
    }
    &__img.video {
        width: 300px;
        height: 168.75px;
    }
    &__img {
        width: 200px;
        height: 200px;
    }
    &__duration {
        z-index: 2;
        position: absolute;
        right: 0;
        top: 135px;
        //margin-bottom: 10px;
        margin-right: 5px;
        background: rgba(0, 0, 0, 0.6);
        padding: 3px 7px;
        color: $color-white;
    }
    &__title {
        margin-top: 2px;
    }
    &__line {
        width: 1px;
        height: 60%;
        margin-top: 10%;
        margin-bottom: 40%;
        border-left: 1px solid #35295f;
    }
    &__name,
    &__views {
        color: #5b6a89;
    }
}
