.watch-and-revenue {
    // background: #180f3a;
    // &__left,
    // &__right {
    // 	background: #271851;
    // }
    background: #271851;
    &__line {
        width: 1px;
        height: 25px;
        background: #dee2e661;
    }
}
