.floating-animation {
    position: relative;
    animation: floating 6s ease-in-out infinite;
    -webkit-animation: floating 6s ease-in-out infinite;
    -moz-animation: floating 6s ease-in-out infinite;
}
