.b-primary {
    background-color: $color-primary;
}
.b-secondary {
    background-color: $color-secondary;
}
.b-tertiary-light {
    background-color: $color-tertiary-light;
}

.color-blue {
    color: $color-blue-light !important;
}
.bg-color-blue {
    background-color: $color-blue-light;
    color: $color-white;
}
.bg-color-blue-light {
    background-color: #0077de;
    color: $color-white;
}
.b-blue {
    border: 1px solid $color-blue-light;
}
.border-blue {
    border: 1px solid $color-blue-light;
    border-radius: 40px !important;

    &:hover {
        background: $color-blue-light;
        color: $color-black !important;
    }
}

.color-green {
    color: $color-green-light !important;
}
.bg-color-green {
    background-color: $color-green-light;
    color: $color-white;
}
.bg-color-green-light {
    background-color: #4b9b0a;
    color: $color-white;
}
.b-green {
    border: 1px solid $color-green-light;
}
.border-green {
    border: 1px solid $color-green-light;
    border-radius: 40px !important;
    &:hover {
        background: $color-green-light;
        color: $color-black !important;
    }
}
.color-purple {
    color: $color-purple-light !important;
}
.color-purple-light {
    color: $color-purple-light-more !important;
}
.bg-color-purple {
    background-color: $color-purple-light;
    color: $color-white;
}
.bg-color-purple-light {
    background-color: #7635ff;
    color: $color-white;
}
.b-purple {
    border: 1px solid $color-purple-light;
}
.border-purple {
    border: 1px solid $color-purple-light;
    border-radius: 40px !important;

    &:hover {
        background: $color-purple-light;
        color: $color-black !important;
    }
}
.pointer-cursor {
    cursor: pointer;
}
.color-light {
    color: #9288b3;
}
.color-grey-light {
    color: #666276;
}
.gradient-1 {
    background: #19a1ff;
    background: -webkit-linear-gradient(top left, #19a1ff, #6de440);
    background: -moz-linear-gradient(top left, #19a1ff, #6de440);
    background: linear-gradient(to bottom right, #19a1ff, #6de440);
}
.gradient-2 {
    background: #19a1ff;
    background: -webkit-linear-gradient(top left, #19a1ff, #863df2);
    background: -moz-linear-gradient(top left, #19a1ff, #863df2);
    background: linear-gradient(to bottom right, #19a1ff, #863df2);
}
.pointer {
    cursor: pointer;
}

.sub-menu-bg {
    background: $color-primary-light;
    color: $color-white;
}

.border-radius-20 {
    border-radius: 20%;
}
.bg-primary-light {
    background: $color-primary-light;
}
.bg-primary-dark {
    background: $color-primary-dark;
}
.color-white-light {
    color: #ffffffa3;
}
.font-small {
    font-size: 0.8rem;
}
.text-black-light {
    color: $color-black-light !important;
}
.MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
    background-color: #d6f4ff !important;
}
.MuiSwitch-colorSecondary.Mui-checked {
    color: #1ba5fd !important;
}
.text-rotation {
    writing-mode: vertical-lr;
    text-orientation: sideways-left;
    transform: rotate(-180deg);
}

.custom-dialog {
    //#2B204A
    & .MuiPaper-root {
        background: #2b204a;
    }
    overflow: hidden;
}
.btn {
    &:hover {
        color: $color-white !important;
    }
}
.placeholder::placeholder {
    text-align: center;
}
.placeholder-white::placeholder {
    color: $color-white;
}
.bg-white-light {
    border: 1px solid #514877;
}
.scroll-menu-arrow--disabled {
    opacity: 0;
    pointer-events: none;
}
.bg-light-dark {
    background: rgba($color: #07011e, $alpha: 0.7);
}

.bg-light {
    background: $color-black-light;
}
.edit-content__img {
    bottom: 0;
    left: 35%;
}
.display-block {
    display: block;
}
.border-right-light {
    border-right: 1px solid #dee2e661;
}
.kt-header__topbar {
    background-color: #080034 !important;
}
.kt-header {
    @include responsive(tab-port) {
        background: #1d1049 !important;
    }
}
.kt-header.kt-grid__item.kt-header--fixed {
    @media (max-width: 1024px) {
        background: #080034 !important;
    }
}
.w-20 {
    width: 20%;
}
.rounded-10 {
    border-radius: 0.5rem !important;
}
//Subheader
.subheader-icon {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}
.opacity-0 {
    opacity: 0;
}
.opacity-1 {
    opacity: 1;
}

div.paypal-powered-by {
    display: none !important;
}

div.paypal-button-number1 {
    display: none !important;
}
div.paypal-button-number2 {
    display: none !important;
}
button[data-funding-source='card'] {
    display: none !important;
}
.login-button {
    margin: auto;
    font-size: 18px;
    font-weight: 400;
    margin-right: 13px;
    cursor: pointer;
    border: 2px solid #8cde0d;
    border-radius: 5px;
    vertical-align: center;
    padding: 5px;
    @include responsive(phone) {
        font-size: 14px !important;
    }
}
.login-button-mobile {
    @media (min-width: 401px) {
        display: none !important;
    }
}
.kt-container {
    @include responsive(phone) {
        padding: 0 !important;
    }
}
// Video Player
.video-player-next {
    top: 0;
    background: rgba($color: #000000, $alpha: 0.6);
}

//profile dropdown
.kt-notification .kt-notification__item:after {
    content: none !important;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.w-85 {
    width: 87%;
}
.profile-icon-bg {
    background: #281567;
}
#inputID {
    background: #07011d;
    color: #756c9f;
    height: 38px;
    border-style: none;
    padding-left: 27px;
    outline: 'none';
}
#inputID:focus {
    outline: none;
}
.menu-item-wrapper.active {
    border: none !important;
}
.menu-item.active {
    border: none !important;
}
.MuiFormControl-root.mb-4.chip-input.jss1.MuiFormControl-fullWidth {
    border: 1px solid #514877 !important;
}
