$color-primary: #4e3887;
$color-secondary: #3a2a64;
$color-tertiary-light: #302557;

$color-blue-light: #1ba6ff;
$color-green-light: #5fbc13;
$color-purple-light: #8f5aff;
$color-purple-light-more: #b07bff;

$color-white: #fff;
$color-black: #000;

$color-primary-light: #271851;
$color-primary-dark: #180f3a;

$color-black-light: #b4a9c7;
